:root {
    --button-background: #04100d;
    --background: radial-gradient(#18221a, #04100d);
    --color: white;
    --container-background: rgba(216, 215, 202, 1);
}

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

html, body{
    background: radial-gradient(#18221a, #04100d);
    height:100vh;
}

#mainGame{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.border{
    border-image: url('../img/border.png') 45%;
    border-image-width: 15px;
    border-image-outset: 2px;
}

#container{
    width:500px;
    height:300px;
    background-color: var(--container-background);
}