################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/deepwokendle
/Backend/DeepwokendleApi/obj/Debug/net8.0/ApiEndpoints.json
/Backend/DeepwokendleApi/obj/Debug/net8.0/apphost.exe
/Backend/DeepwokendleApi/obj/Debug/net8.0/DeepwokendleApi.AssemblyInfo.cs
/Backend/DeepwokendleApi/obj/Debug/net8.0/DeepwokendleApi.AssemblyInfoInputs.cache
/Backend/DeepwokendleApi/obj/Debug/net8.0/DeepwokendleApi.assets.cache
/Backend/DeepwokendleApi/obj/Debug/net8.0/DeepwokendleApi.csproj.AssemblyReference.cache
/Backend/DeepwokendleApi/obj/Debug/net8.0/DeepwokendleApi.csproj.BuildWithSkipAnalyzers
/Backend/DeepwokendleApi/obj/Debug/net8.0/DeepwokendleApi.csproj.CoreCompileInputs.cache
/Backend/DeepwokendleApi/obj/Debug/net8.0/DeepwokendleApi.csproj.FileListAbsolute.txt
/Backend/DeepwokendleApi/obj/Debug/net8.0/DeepwokendleApi.dll
/Backend/DeepwokendleApi/obj/Debug/net8.0/DeepwokendleApi.genruntimeconfig.cache
/Backend/DeepwokendleApi/obj/Debug/net8.0/DeepwokendleApi.MvcApplicationPartsAssemblyInfo.cs
/Backend/DeepwokendleApi/obj/Debug/net8.0/DeepwokendleApi.pdb
/Backend/DeepwokendleApi/obj/Debug/net8.0/DeepwokendleApi.sourcelink.json
/Backend/DeepwokendleApi/obj/Debug/net8.0/refint/DeepwokendleApi.dll
/Backend/DeepwokendleApi/obj/DeepwokendleApi.csproj.nuget.dgspec.json
/Backend/DeepwokendleApi/obj/DeepwokendleApi.csproj.nuget.g.targets
/Backend/DeepwokendleApi/obj/project.assets.json
/Backend/DeepwokendleApi/obj/project.nuget.cache
/Backend/DeepwokendleApi/bin/Debug/net8.0/appsettings.json
/Backend/DeepwokendleApi/bin/Debug/net8.0/BCrypt.Net-Next.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/Dapper.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/DeepwokendleApi.deps.json
/Backend/DeepwokendleApi/bin/Debug/net8.0/DeepwokendleApi.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/DeepwokendleApi.exe
/Backend/DeepwokendleApi/bin/Debug/net8.0/DeepwokendleApi.pdb
/Backend/DeepwokendleApi/bin/Debug/net8.0/DeepwokendleApi.runtimeconfig.json
/Backend/DeepwokendleApi/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/Npgsql.dll
/Backend/DeepwokendleApi/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/Backend/DeepwokendleApi/obj/Debug/net8.0/ref/DeepwokendleApi.dll
